<!-- This template generates a form for submitting a new Activity
  It yields directly from layout.erb, so its structure is equivalent to index.erb
  Takes @activity as a variable. @activity = Activity.new, or the previous invalid submission
    Needs parameters: 
    title: String
    cost: 0,1,2,3
    location: String
    content:  String
    social:  boolean
    at_home:  boolean
  POST to '/users/<%= session[:user_id] %>/activities'
-->


 <!--main content start-->
<section id="main-content" 


<%= session[:user_id] ? "class='logged-in'" : "" %>>

  <section class="wrapper site-min-height">
    <h3><a href="http://localhost:3000/users/1/activities">Back </a><i class="fa fa-angle-right"></i> Logged in</h3>
      <div class="row mt">
        <div class="col-lg-12">


                <form class="new_activity inline-form" action = "/users/<%= session[:user_id] %>/activities" method = "post">

                  


                    <div class="row mt">  
                      <div class="create_input create_button">


                    <!-- If submission was invalid, will display error messages. 
                    This will not be rendered at all if there are no errors -->
                    <% if @activity.errors.any? %>
                      <div class="error_msg">
                        
                        <strong>Some issues with your submission, please fix them:</strong>
                        <ul>
                          <% @activity.errors.full_messages.each do |error_message| %>
                            <!-- single error message 
                              this <li> will be repeated for each error -->
                            <li><%= error_message %></li>
                          <% end %>
                        </ul>
                      
                      </div>
                    <% end %>
                    <!-- end error messages -->
                    
                        <h4><input type="text" placeholder="<%= @activity.title || "Enter title here..." %>" class="no_border" name="title" ></h4>
                      </div>
                    </div>



                  <div class="location">
                    <h1><input type="text" placeholder="<%= @activity.location || "Location" %>" class="no_border" name="location" ></h1>                                        
                  </div>


                     <!-- display selectors for cost, social, at_home -->
                  <div class="param_div">

                    <div>
                      <input name="social" type="radio" value="TRUE">Social
                    <input name="social" type="radio" value="FALSE">Solo
                    </div>
                    <!-- use these instead? -->
                    
                    <!-- end options -->



                     <div>
                      
                  
                    <!-- use these instead? -->
                    <input name="at_home" type="radio" value="TRUE">Indoors
                    <input name="at_home" type="radio" value="FALSE">Outdoors
                    <!-- end options -->
                    </div>

                    <div>
                      <select class="form-control" name="cost">
                        <option value="0">
                          <img src="img/cost-0.jpg" alt="free" /><h1>Free</h1>
                        </option>
                        <option value="1">
                          <img src= "img/cost-1.jpg" alt="cost" />
                          <h1>$</h1>
                        </option>
                        <option value="2">
                          <img src= "img/cost-2.jpg" alt="cost2" />
                          <h1>$$</h1>
                        </option>
                        <option value="3">
                          <img src= "img/cost-3.jpg" alt="cost2" />
                          <h1>$$$</h1>
                        </option>
                      </select>
                    </div>
                    <!-- end icon display -->
                  </div> <!-- end param_div -->

                    <!-- display tags -->

                
                  <div class="tag_div">


                    <div>
                      <input list="tags" name="tag1" multiple>
                        <p>Tag</p>
                        <datalist id="tags">
                          <% all_tags.each do |tag| %>
                          <option value = "<%=tag.name%>">
                          <% end %>
                        </datalist>
                      </input>
                    </div>

                    <div>
                      <input list="tags" name="tag2" multiple>
                        <p>Tag</p>
                        <datalist id="tags">
                          <% all_tags.each do |tag| %>
                          <option value = "<%=tag.name%>">
                          <% end %>
                        </datalist>
                      </input>
                    </div>


                    <div>
                      <input list="tags" name="tag3" multiple>
                        <p>Tag</p>
                        <datalist id="tags">
                          <% all_tags.each do |tag| %>
                          <option value = "<%=tag.name%>">
                          <% end %>
                        </datalist>
                      </input>
                    </div>

                  </div>
                    <!-- end tags -->

                      
                  <!-- submit new content -->
                  <div class="list_view">
                      <div class="list_text">
                      <h4>List</h4>
                          <textarea class="text_input" type="text" rows="6" placeholder="<%= @activity.content || 'Enter list here...' %>" name="content"></textarea> 
                        <button type="submit" class="new_btn btn btn-default">Submit</button>
                      </div>
                  </div>
                  <!-- end submit -->
                </form>
                 


                  <div class="divider"></div>

                    <div>
                      <h1>Old Activities</h1>
                    </div>

                       <!-- content start div
                            display the rest of my posted activities  -->

                       <% @activities = current_user.activities %>
                      <% @activities.each do |activity| %>
                        <% @activity = activity %>
                        <!-- this is a list item representing one Activity
                            it links to details page for that activity 
                            it will repeat itself for all activities -->
                        <a href="/activities/<%= activity.id %>">
                          <div class="create_button">
                            <%= erb :'activities/show_short' %>
                          </div>
                        </a>
                        <!-- end individual activity -->
                      <% end %>

                    <!-- content end div -->



                       
                      
                  
              </div>
            </div>
          </section>
      </section>



















<!-- Collects input for new submission -->

    



  <!-- end input form -->









  
