<!-- This template generates a detailed page for one Activity
  This template yields directly from layout.erb, so its structure is equivalent to index.erb
  Receives @activity as an instance variable
  Receives @review as an instance variable when redirecting from previous review attempt -->


<section id="main-content" <%= session[:user_id] ? "class='logged-in'" : "" %>>
  <section class="wrapper site-min-height">
    <h3><a href="http://localhost:3000/users/1/activities">Back </a><i class="fa fa-angle-right"></i> Logged in</h3>
      <div class="row mt">
        <div class="col-lg-12">




            
            <div class="create_button">
              <%= erb :'activities/show_short' %>
              </div>
            </div>
              <!-- end short version --> 

              <!-- display icons for cost, social, at_home -->
            <div class="show_icons">
              <ul>
                
                <li>
                  <% if @activity.social %>
                    <img src=" " alt="social icon"/>
                  <% else %>
                    <img src="" alt="alone icon" />
                  <% end %>
                </li>

                <li>
                  <% if @activity.at_home %>
                    <img src=" " alt="at home icon" />
                  <% else %>
                    <img src="" alt="outdoors icon" />
                  <% end %>
                </li>

                <li>
                  <div class="cost">
                    <img src= "<%= @activity.cost_img %>" />
                  </div>
                </li>
                
              </ul>
            </div>
            <!-- end icon display -->


            <!-- display tags -->
            <div class="all_tags">
              <ul>
                
                <li>
                  <% tags = @activity.tags %>
                </li>
                
                <li>
                  <% tags.each do |tag| %>
                  <div class="individual tag"> 
                    <%= tag.name %>  
                  </div>
                  <% end %>
                </li>

              </ul>
            </div>
          <!-- end tags -->
          </div>

              
            
              <div class="list_view">
                <div class="list_text">
                  <p>
                    <%= @activity.content %>
                  </p>
                </div>


              </div>
            
            </ul>
          </div>
      

          <!-- TODO style div for new review submission -->
          <% if session[:user_id] %>
            <div class="new_review">
              <%= erb :'reviews/new' %>
            </div>
          <% end %>

                  <!-- TODO end -->





                    <!-- list of ALL reviews -->
                    <div class="all_reviews">
                      <% @activity.reviews.each do |review| %>
                        <% @review = review %>
                        

                        <!-- individual review -->
                        <div class="individual_review">
                          <%= erb :'reviews/show' %>
                        </div>
                        <!-- end individual review -->
                      

                      <% end %>
                    </div>
                    <!-- end list of all reviews -->




                  
              </div>
            </div>
          </section>
      </section>








</div>
