<!-- This template generates a detailed page for one Activity
  This template yields directly from layout.erb, so its structure is equivalent to index.erb
  Receives @activity as an instance variable -->


<!-- yield from layout.erb -->
  <div class="main container">

    <!-- summary
     identical to a single list item from the list of ALL activities -->
    <div class="activity summary">
      <%= erb :'activities/show_short' %>
    </div>
    <!-- end summary -->

    <!-- display tags -->
    <div class="all tags">
      <% tags = @activity.tags %>
      <% tags.each do |tag| %>
        <div class="individual tag"> 
          <%= tag.name %>  
        </div>
      <% end %>
    </div>
    <!-- end tags -->


  <div class="activity main body">
    <p>
      <%= @activity.content %>
    </p>
  </div>



  <div class="new review">
    <%= erb :'reviews/new' %>
  </div>


  <!-- list of ALL reviews -->
  <div class="all reviews">
    <% @activity.reviews.each do |review| %>
      <% @review = review %>
      
      <!-- individual review -->
      <div class="individual review">
        <%= erb :'reviews/show' %>
      </div>
      <!-- end individual review -->
    
    <% end %>
  </div>
  <!-- end list of all reviews -->

</div>
