<!-- This template generates a short version of one activity
    It is used as part of a list, nested in index.erb OR show.erb
    Receives @activity as an instance variable -->


    <!-- <div class="activity_creator_avatar"></div> -->

  <a class="title" href = "/activities/<%= @activity.id %>">
    <h3 class="rating_box"><%= @activity.rating %></h3>
    <h3 class="title"><%= @activity.title %></h3>

      <%= erb :'/tags/show' %>

    <img class="activity_author_avatar img-circle" src="<%= @activity.user.avatar%>">
  </a> 








<!-- add creator avatar @activity.user.avatar for list -->