<!-- Shows a single review. part of a list
  Takes @review as a variable
  -->




<div>
  <%= @review.comment %>

  <%= @review.rating %>

  posted by <%= get_username(@review.user_id) %> 
  at <%= @review.created_at %>


  avatar: <img src="<%= @review.user.avatar %>">  
</div>