<!-- Shows a single review. part of a list
  Takes @review as a variable
  -->




<div class="review_comment">
  
  <div class="review_text">  
    <div class="review_rating li_star"><%= @review.rating %></div>
    <p><%= @review.comment %></p>
  </div>
  <div class="review_created_by">
    posted by <%= get_username(@review.user_id) %> at <%= @review.created_at %>
  </div>
  <div class="review_avatar">
    <img src="<%= @review.user.avatar %>">  
  </div>
</div>